@font-face {
    font-family: 'orkney';
    src: url('./orkney-regular-webfont.eot');
    src: url('./orkney-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./orkney-regular-webfont.woff') format('woff'),
         url('./orkney-regular-webfont.ttf') format('truetype'),
         url('./orkney-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

