@import '../fonts/fonts.css';

body,
html {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Orkney', sans-serif;
    --primary-color: #0b4075;
    --light-color: #1774d1;
    --background-light-color: #9098A9;
    --background-color: #ffffff;
    --error-color: #f3157b;
    --left-prettyinput: 16px;
}

@media only screen and (min-device-width: 641px) {

    body,
    html {
        font-size: var(--font-size);
    }

    body {
        --input-heigth: 3rem;
        --label-heigth: 1.5rem;
        --font-size: 0.875rem;
    }
}

@media only screen and (max-device-width: 640px) {

    body,
    html {
        font-size: var(--font-size);
    }

    body {
        --left-prettyinput: 30px;
        --input-heigth: 8rem;
        --label-heigth: 4rem;
        --font-size: 2rem;
        padding: 50px;
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--light-color);
}

h1 {
    font-weight: normal;
}

.title {
    text-align: center;
    color: var(--primary-color);
}

label {
    font-size: var(-font-size);
}


@media only screen and (min-device-width: 641px) {

    h1 {
        font-size: 2rem;
    }

    .login-content {
        width: auto;
        background-size: cover;
        background-position: center;
        min-height: 100%;
        min-width: 320px;
        display: flex;
        justify-content: center;
        flex-direction: column
    }

    .login-content .box {
        border-radius: 15px;
        background-color: var(--background-color);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
    }

    .login-content .box .box-container {
        padding: 15% 10%;
    }

    .prettyinput input,
    .prettyinput label,
    .prettyinput input:focus + span + input:not(:placeholder-shown),
    .button span {

    }

    .account-options {
        font-size: 1rem;
    }


    .prettyinput input:focus + span,
    .prettyinput input:not(:placeholder-shown) + span {
        transform: translateY(-160%);
    }

    .prettyinput .label {
        padding: 0 5px;
    }

    .account-options {
        margin-bottom: 20px;
    }
}

@media only screen and (max-device-width: 640px) {

    h1 {
        font-size: 6rem;
    }

    .login-content .box {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        background-color: var(--background-color);
    }

    .login-content .box .box-container {
        margin: 180px auto;
    }

    .prettyinput input,
    .prettyinput label,
    .prettyinput input:focus + span + input:not(:placeholder-shown),
    .button span {
        font-size: 3rem;
    }

    .prettyinput .label {
        padding: 0 20px;
    }

    .account-options {
        font-size: 2rem;
    }

    .prettyinput {
        margin-top: 60px;
    }

    .prettyinput input:focus + span {
        transform: translateY(-160%);
    }

    .prettyinput input:not(:placeholder-shown) + span {
        transform: translateY(-160%);
    }


    form,
    .button {
        margin-top: 120px;
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.prettyinput .label {
    position: absolute;
    font-weight: 200;
    color: var(--background-light-color);
    transition: all 0.2s ease;
    cursor: text;
            margin-left: 10px;

}

.prettyinput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.errors {
    display: none;
    color: var(--error-color);
}

.errors .error {
    margin-top: 10px;
}

.prettyinput input {
    width: calc(100% - var(--left-prettyinput));
    height: var(--input-heigth);
    padding-left: var(--left-prettyinput);
    font-weight: 300;
    color: var(--primary-color);
    background: none;
    border: 1px solid var(--background-light-color);
    border-radius: 8px;
    transition: all 0.15s ease;
}

.prettyinput input:focus {
    background: none;
    outline: none;
    border-color: var(--primary-color);
}

.prettyinput input:focus + span {
    border: 0;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: var(--background-color);
}

.prettyinput input:not(:placeholder-shown) + span {
    border: 0;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: var(--background-color);
}

.prettyinput:hover input {
    background: rgba(34, 50, 84, 0.03);
}

.account-options {
    font-size: 0.8em;
}

.account-options:last-child {
    margin-left: auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    font-weight: bold;
    color: var(--background-color);
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--primary-color);
}

.button:hover {
    transition: 0.3s ease all;
    background-color: var(--light-color);
}

.button:active {
    background-color: var(--light-color);
}

.button span {
    font-weight: normal;
    white-space: nowrap;
}

#social-providers input {
    cursor: pointer;
}

.login-content .box .submit {
    cursor: pointer;
    width: 320px;
    height: 36px;
    border-radius: 2px;
    background-color: var(--primary-color);
    font-size: var(--font-size);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--background-color);
    border-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

.message-text {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.message-success,
.message-info {
    color: var(--light-color);
}

.message-warning,
.message-error {
    color: var(--error-color);
}

.account-options {
    width: 100%;
    text-align: right;
    margin-top: 20px;
}



.account-options .forgot-password + .registration {
    width: 20%;
}

.identity-providers {
    width: 270px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: -0.4px;
    text-align: left;
    color: var(--primary-color);
    margin-left: 32px;
    margin-top: 20px;
}

.login-content .box .social-link-style {
    width: 100%;
    height: var(--input-heigth);
    border-radius: 2px;
    background-color: var(--white);
    font-size: var(--font-size);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--primary-color);
    border-style: solid;
    border-color: var(--primary-color);
    margin-bottom: 10px;
}

.login-content .box .social-link-style:hover {
    border-color: var(--light-color);
    color: var(--light-color);
}

.login-content .box .para {
    padding-top: 15px;
    text-align: center;
    color: var(--primary-color)
}